<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Potbot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Potbot.Properties.Settings>
            <setting name="backupDir" serializeAs="String">
                <value>C:\Potbot\</value>
            </setting>
            <setting name="P1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hex_file" serializeAs="String">
                <value />
            </setting>
            <setting name="pot_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="vid_d" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vid_w" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log_d" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log_w" serializeAs="String">
                <value>False</value>
            </setting>
        </Potbot.Properties.Settings>
    </userSettings>
</configuration>